*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: none;
          box-sizing: none;
  -webkit-transition: all 0.5;
  transition: all 0.5;
}

html,
body,
.container {
  width: 100%;
  height: 100%;
  min-width: 500px;
  min-height: 500px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#cloud-intro {
  position: relative;
  height: 100vh;
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png) 0 200px, url(https://static.radulescu.me/examples/clouds/clouds1200_1.png) 0 300px, url(https://static.radulescu.me/examples/clouds/clouds1000_blur3.png) 100px 250px;
  -webkit-animation: wind 120s linear infinite;
          animation: wind 120s linear infinite;
}

@-webkit-keyframes wind {
  0% {
    background-position: 0 200px, 0 300px, 100px 250px;
  }
  100% {
    background-position: 1000px 200px, 1200px 300px, 1100px 250px;
  }
}

@keyframes wind {
  0% {
    background-position: 0 200px, 0 300px, 100px 250px;
  }
  100% {
    background-position: 1000px 200px, 1200px 300px, 1100px 250px;
  }
}

body {
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

.hamburger {
  font-size: 3rem;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.781);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav p {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.sidenav p:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav:hover {
  background-color: #111111;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.currentWrapper {
  width: 100%;
  overflow: hidden;
}

.currentWrapper #cloud-intro {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.currentWrapper #cloud-intro .infoWrapper {
  background-color: rgba(255, 255, 255, 0.658);
  height: 80vh;
  width: 60%;
  margin: 0 auto;
  border-radius: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.currentWrapper #cloud-intro .infoWrapper .temp {
  margin-top: 10px;
  margin-bottom: -50px;
  font-size: 13rem;
  height: 20%;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
 "Helvetica Neue", sans-serif;
  height: auto;
}

.currentWrapper #cloud-intro .infoWrapper .location {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 30px;
}

.currentWrapper #cloud-intro .infoWrapper .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.currentWrapper #cloud-intro .infoWrapper .row div {
  width: 20%;
  height: 100px;
  text-align: center;
}

@media (max-width: 576px) {
  .currentWrapper {
    width: 100%;
  }
  .currentWrapper #cloud-intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    overflow-x: hidden;
  }
  .currentWrapper #cloud-intro .infoWrapper .temp {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 8rem;
    height: 20%;
    height: auto;
  }
  .currentWrapper #cloud-intro .infoWrapper .location {
    font-size: 2rem;
    margin-bottom: 50px;
  }
  .currentWrapper #cloud-intro .infoWrapper .row {
    font-size: 1.3rem;
  }
  .currentWrapper #cloud-intro .infoWrapper .row div {
    width: 50%;
    height: 100px;
  }
}

@media (min-width: 576px) {
  .currentWrapper #cloud-intro {
    height: 100vh;
  }
  .currentWrapper #cloud-intro .infoWrapper .temp {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 10rem;
    height: 20%;
    height: auto;
  }
  .currentWrapper #cloud-intro .infoWrapper .location {
    font-size: 2.5rem;
    margin-bottom: 50px;
  }
  .currentWrapper #cloud-intro .infoWrapper .row {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .currentWrapper #cloud-intro .infoWrapper .row div {
    width: 50%;
    height: 100px;
  }
}

@media (min-width: 992px) {
  .currentWrapper #cloud-intro .infoWrapper .temp {
    margin-top: 10px;
    margin-bottom: -50px;
    font-size: 13rem;
    height: 20%;
    height: auto;
  }
  .currentWrapper #cloud-intro .infoWrapper .location {
    font-size: 4rem;
    margin-bottom: 30px;
  }
  .currentWrapper #cloud-intro .infoWrapper .row {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .currentWrapper #cloud-intro .infoWrapper .row div {
    width: 30%;
    height: 100px;
  }
}

.Weekly {
  height: 100vh;
}

.Weekly .container {
  height: 90vh;
  width: 100%;
}

.Weekly .container .row {
  width: 95%;
  position: relative;
  left: 3%;
}

.Weekly .container .row .temp {
  margin-top: 10%;
  font-size: 3.7rem;
  text-align: left;
  height: auto;
  position: relative;
  left: 10%;
}

.Weekly .container .row .location {
  margin-top: 12%;
  text-align: right;
  font-size: 2rem;
  position: relative;
  right: 10%;
}

.Weekly .container .row .days {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
 "Helvetica Neue", sans-serif;
  border: 3px black solid;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.658);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.Weekly .container .row .days h1 {
  text-align: center;
  font-size: 2.7rem;
  position: relative;
  top: 3%;
  border-bottom: 2px black solid;
  border-radius: 20%;
}

.Weekly .container .row .days .weekday {
  border-top: 2px black solid;
  font-size: 1.8rem;
  text-align: center;
  position: relative;
  top: 60%;
  border-radius: 20%;
}

.Weekly .container .row .days .date {
  border-top: none;
  font-size: 1.8rem;
  text-align: center;
  position: relative;
  top: 51%;
}

#mon {
  border-left: 2px black solid;
  border-radius: 5%;
  position: relative;
  right: 3%;
  width: 350px;
}

#tue {
  border-radius: 5%;
  position: relative;
  right: 2%;
  width: 350px;
}

#wed {
  border-radius: 5%;
  position: relative;
  right: 1%;
}

#thu {
  border-radius: 5%;
  position: relative;
  width: 350px;
}

#fri {
  border-radius: 5%;
  position: relative;
  left: 1%;
  width: 350px;
}

#sat {
  border-radius: 5%;
  position: relative;
  left: 2%;
  width: 350px;
}

#sun {
  border-radius: 5%;
  position: relative;
  left: 3%;
  width: 350px;
}

.Hourly {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Hourly h1 {
  text-align: center;
  padding-top: 10px;
}

.Hourly .subHead {
  overflow: hidden;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Hourly .temp {
  float: left;
}

.Hourly .cityState {
  float: right;
}

.Hourly .boxes {
  display: -ms-grid;
  display: grid;
  width: 400px;
  height: 400px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-columns: auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto;
  gap: 20px 20px;
}

.Hourly .box {
  background-color: rgba(255, 255, 255, 0.658);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 170px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5%;
  margin: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Hourly .box::-webkit-scrollbar {
  display: none;
}

.Hourly .box:hover h1 {
  display: none;
}

.Hourly ul {
  list-style-type: none;
  display: none;
  position: absolute;
  top: 20px;
  font-size: 40%;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
}

.Hourly .box:hover {
  transform: scale(1.15, 1.15);
  box-shadow: 0 0 10px white;
  margin: 0;
}

.Hourly .box:hover ul {
  display: block;
}

.Hourly .box:hover::after ul {
  opacity: 1;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.Hourly .box:hover::after {
  opacity: 1;
  transition: 0.9s ease-out;
}
/*# sourceMappingURL=style.css.map */