*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: none;
          box-sizing: none;
  -webkit-transition: all 0.5;
  transition: all 0.5;
}

html,
body,
.container {
  width: 100%;
  height: 100%;
  min-width: 500px;
  min-height: 500px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  background-color: #ed0000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ed0000), to(#ffcccc));
  background: linear-gradient(to bottom, #ed0000 1%, #ffcccc 100%);
}

#cloud-intro {
  position: relative;
  height: 100vh;
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png) 0 200px, url(https://static.radulescu.me/examples/clouds/clouds1200_1.png) 0 300px, url(https://static.radulescu.me/examples/clouds/clouds1000_blur3.png) 100px 250px;
  -webkit-animation: wind 120s linear infinite;
          animation: wind 120s linear infinite;
}

@-webkit-keyframes wind {
  0% {
    background-position: 0 200px, 0 300px, 100px 250px;
  }
  100% {
    background-position: 1000px 200px, 1200px 300px, 1100px 250px;
  }
}

@keyframes wind {
  0% {
    background-position: 0 200px, 0 300px, 100px 250px;
  }
  100% {
    background-position: 1000px 200px, 1200px 300px, 1100px 250px;
  }
}

body {
  font-family: "Lato", sans-serif;
  background: #4c9aff !important;
  overflow: hidden;
}

.hamburger {
  font-size: 3rem;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.781);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav p {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.sidenav p:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav:hover {
  background-color: #111111;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.currentWrapper #cloud-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.currentWrapper #cloud-intro .infoWrapper {
  background-color: rgba(255, 255, 255, 0.658);
  height: 80vh;
  width: 60%;
  margin: 0 auto;
  border-radius: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.currentWrapper #cloud-intro .infoWrapper .temp {
  margin-top: 10px;
  margin-bottom: -50px;
  font-size: 13rem;
  height: 20%;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: auto;
}

.currentWrapper #cloud-intro .infoWrapper .location {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 30px;
}

.currentWrapper #cloud-intro .infoWrapper .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.currentWrapper #cloud-intro .infoWrapper .row div {
  width: 20%;
  height: 100px;
  text-align: center;
}

.Weekly {
  height: 100vh;
}

.Weekly .container {
  height: 100vh;
}

.Weekly .container .row .temp {
  margin-top: 20%;
  font-size: 3.5rem;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: auto;
}

.Weekly .container .row .location {
  margin-top: 20%;
  text-align: right;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Hourly {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
<<<<<<< HEAD
  flex-direction: column;
  align-items: center;
  justify-content: center;
=======
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Scale up the box */
  /* Fade in the pseudo-element with the bigger shadow */
>>>>>>> 71d47982b4da8b3f78ab7156623632800f9b65b9
}

.Hourly h1 {
  text-align: center;
  padding-top: 10px;
}

.Hourly .subHead {
  overflow: hidden;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Hourly .temp {
  float: left;
}

.Hourly .cityState {
  float: right;
}

.Hourly .boxes {
  display: -ms-grid;
  display: grid;
  width: 400px;
  height: 400px;
<<<<<<< HEAD
  align-content: center;
  justify-content: center;
  justify-self: center;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 20px 20px;
=======
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto;
>>>>>>> 71d47982b4da8b3f78ab7156623632800f9b65b9
}

.Hourly .box {
  background-color: gainsboro;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 170px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
<<<<<<< HEAD
  margin: auto;
  align-content: center;
=======
  margin: 0 25px 28px auto;
  -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s ease-in-out;
>>>>>>> 71d47982b4da8b3f78ab7156623632800f9b65b9
  transition: 0.2s ease-in-out;
}

.Hourly .box:hover {
<<<<<<< HEAD
  transform: scale(1.15, 1.15);
  box-shadow: 0 0 10px white;
=======
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
>>>>>>> 71d47982b4da8b3f78ab7156623632800f9b65b9
}

.Hourly .box:hover::after {
  opacity: 1;
  transition: 0.2s ease-out;
}
/*# sourceMappingURL=style.css.map */